<p id="notice"><%= notice %></p>
<h1><%= @project.name %></h1>
    <h6>10/11/13</h6>
    <td><%= @project.details %></td>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
