
<div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="panel">
          <div class="panel-heading">Blog</div>
                <div class="singlePostFull">
                  <div class="description">
                    <% @posts.each do |post| %>
                      <div id="<%= dom_id(post) %>">
                        <h4><%= link_to 'post.title', post %></h4>
                          <div class="singlePostFull"><p><%= markdown(post.content).html_safe %></p></div>
                        <% if policy(post).update? %>
                            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
                            <p class="pull-right"><%= "Published" if post.published %></p>
                            <%= button_to 'Publish', post_path(post, post: { published: true }), method: :put, class: "btn btn-default" %>
                        <% end %>
                        <% if policy(post).destroy? %>
                          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
              <div class="panel">
                        <div class="panel-heading">Categories</div>
                                <ul class="blogCategory">
                                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Rails</a></span><div class="clearfix"></div></li>
                                  <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Gems</a></span><div class="clearfix"></div></li>
                                  <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Testing</a></span><div class="clearfix"></div></li>
                                  <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Heroku</a></span><div class="clearfix"></div></li>
                                    <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Ruby</a></span><div class="clearfix"></div></li>
                                </ul>
                        </div>

                            <!-- Tweet -->
                            <div class="panel">
                        <div class="panel-heading">Latest Tweet</div>
                                <span class="twitter-author"><a href="http://twitter.com/sc0ttg" target="_blank">@sc0ttg</a></span>
                            <div id="lasttweet"></div>
                        </div>
                            <!-- Tweet -->
                        </div>
                    </div>
                </div>






<%= link_to 'New Post', new_post_path, class: "btn btn-primary" if policy(Post).create? %>
