<div class="content">
  <div class="blog">
   <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <div class="panel-heading">Blog</div>
        <div class="container">
          <div class="singlePost">
      <% @posts.each do |post| %>
        <tr id="<%= dom_id(post) %>">
          <h3><%= link_to post.title, post %></h3>
          <div class="description">
            <div class="descriptionSingle">
              <span><b>&nbsp;By: Scott Golembiewski</b></span>
            </div></div>
            <p><%= markdown(post.content).html_safe %></p><br><br>
          <% if policy(post).update? %>
              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
              <%= "Published" if post.published %>
              <%= button_to 'Publish', post_path(post, post: { published: true }), method: :put, class: "btn btn-default" %>
          <% end %>
          <% if policy(post).destroy? %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %>
          <% end %>
      <% end %>
    </div>
  </div>
    <div class="clearfix"></div>
  </div>
</div>
    <div class="col-md-4">
              <div class="panel">
                        <div class="panel-heading">Categories</div>
                                <ul class="blogCategory">
                                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Rails</a></span><div class="clearfix"></div></li>
                                  <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Gems</a></span><div class="clearfix"></div></li>
                                  <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Testing</a></span><div class="clearfix"></div></li>
                                  <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Heroku</a></span><div class="clearfix"></div></li>
                                    <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Ruby</a></span><div class="clearfix"></div></li>
                                </ul>
                        </div>

                            <!-- Tweet -->

                            <!-- Tweet -->
                        </div>
                    </div>
                </div>








<%= link_to 'New Post', new_post_path, class: "btn btn-primary" if policy(Post).create? %>
