<p id="notice"><%= notice %></p>
<br />
<h1><%= @post.title %></h1>

<br />
<td><%= @post.content %></td>
<br />
<br />
<h4>Comments:</h4>
<br />
  <% @post.comments.each do |comment| %>
    <p>
      <strong>Name:</strong>
      <%= comment.author %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.content %>
    </p>
  <% end %>

<br />

<br />
<br />
<h4>Leave A Comment</h4>
<br />
<%= render "comments/form" %>
<br />
<br />

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
