
<!DOCTYPE html>

<html lang="en">

<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container tab-container" id="tab-container" >

    <%= render 'layouts/header' %>


  <!-- Display Flash Message -->
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
        <%= value %>
    </div>
  <% end %>
  <!-- Display Flash Message -->
  <%= yield %>
</div>

</body>
</html>
