
<!DOCTYPE html>

<html lang="en">

<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>


<div class="container tab-container" id="tab-container" >

<header>

<div class="cover" style="background-image: url(<%= asset_path 'nyc-subway.jpg' %>)">

<div class="coverOverlay"></div>


<div class="profileName">

<h1>Underground Rails</h1>

<p></p>

</div>

</div>

<nav>

<ul class="etabs">

<li class="tab"><%= link_to 'Home', root_path %><span class="tabIcon glyphicon glyphicon-envelope"></span><span class="tabText"></span></a></li>

<li class="tab"><%= link_to 'Portfolio', projects_path %><span class="tabIcon glyphicon glyphicon-briefcase"></span><span class="tabText"></span></a></li>

<li class="tab"><%= link_to 'Blog', posts_path %><span class="tabIcon glyphicon glyphicon-pencil"></span><span class="tabText"></span></a></li>

<li class="tab">
  <%= render 'devise/menu/registration_items' %><span class="tabIcon glyphicon glyphicon-pencil"></span><span class="tabText"></span>
</li>

<li class="tab">
  <%= render 'devise/menu/login_items' %><span class="tabIcon glyphicon glyphicon-pencil"></span><span class="tabText"></span>
</li>

<li class="tab">
  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
</li>
</ul>


</nav>

</header>

<!-- HEADER -->

<br />
<% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>

<!-- MAIN CONTENT -->

<div class="content">

<!-- ABOUT TAB -->

<div id="about">

<div class="row">

<!-- About - Left Side -->

<div class="col-lg-4">

<!-- Personal Info -->

<div class="panel">

<div class="panel-heading">Personal Info</div>

<ul class="personalInfo">

<li><span class="icon glyphicon glyphicon-briefcase"></span><span class="text">Job : Rails Developer</span><div class="clearfix"></div></li>

<li><span class="icon glyphicon glyphicon-map-marker"></span><span class="text">From : Seattle, Washington</span><div class="clearfix"></div></li>

<li><span class="icon glyphicon glyphicon-phone"></span><span class="text">Phone : 206-856-2891</span><div class="clearfix"></div></li>

<li><span class="icon glyphicon glyphicon-envelope"></span><span class="text">Email : scottjgolembiewski@gmail.com</span><div class="clearfix"></div></li>

<li><span class="icon glyphicon glyphicon-globe"></span><span class="text">Website : <a href="#">www.undergroundrails.com</a></span><div class="clearfix"></div></li>

</ul>

</div>

<!-- Personal Info -->



<!-- Skill - Progress bar -->

<div class="panel">

<div class="panel-heading">Development Skills</div>

<div class="progressSkill">

<p>Web Design</p>

<div class="progress">

<div class="progress-bar progress-bar-info" style="width: 20%"></div>

</div>

</div>



<div class="progressSkill">

<p>Web Development</p>

<div class="progress">

<div class="progress-bar progress-bar-info" style="width: 40%"></div>

</div>

</div>



<div class="progressSkill">

<p>Logo Design</p>

<div class="progress">

<div class="progress-bar progress-bar-info" style="width: 50%"></div>

</div>

</div>



<div class="progressSkill">

<p>Illustration</p>

<div class="progress">

<div class="progress-bar progress-bar-info" style="width: 30%"></div>

</div>

</div>



</div>


</div>


<div class="col-lg-8">

<div class="panel">

<div class="panel-heading"></div>

<%= yield %>

</div>

<div class="panel">

<div class="panel-heading">Education Background</div>



<div class="media history">

<div class="media-body">

<div class="historyTop">

<div class="media-object historyDate"> 2013</div>

<h6 class="media-heading historyHeading">Code Fellows - Seattle WA</h6>

</div>

<span class="icon glyphicon glyphicon-map-marker historyLocationicon"></span>

<p class="historyLocationtext">Code Fellows - Ruby on Rails Bootcamp</p>

<p>9 weeks of Ruby on Rails training</p>

</div>

</div>



<div class="media history">

<div class="media-body">

<div class="historyTop">

<div class="media-object historyDate"> 2007-2008</div>

<h6 class="media-heading historyHeading">Albers School of Business - Seattle University </h6>

</div>

<span class="icon glyphicon glyphicon-map-marker historyLocationicon"></span>

<p class="historyLocationtext">Seattle, WA</p>

<p>Attended Seattle University to obtain a business degree, left Junior year to follow an entrepreneurial path in web applications. </p>

</div>

</div>



<div class="media history">

<div class="media-body">

<div class="historyTop">

<div class="media-object historyDate"> 2005-2007</div>

<h6 class="media-heading historyHeading">Associates Degree - Applied Science</h6>

</div>

<span class="icon glyphicon glyphicon-map-marker historyLocationicon"></span>

<p class="historyLocationtext">Henry Ford Community College</p>

<p>Earned an AA in Applied Science</p>

</div>

</div>

</div>

</div>

</body>

</html>
