<!DOCTYPE html>
<html>
<head>
  <title>My Portfolio Site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar">
          <span class="icon-bar">
          <span class="icon-bar">
        </button>
      </div>
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "Blog", posts_path %></li>
            <li><%= link_to "About" %></li>
            <li><%= link_to "Contact" %></li>
          </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-7"><%= yield %></div>
      <div class="col-md-3">
        <div class="well">
        <h2>About Me</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
</body>
</html>
